{{#if download}}
    <button {{action 'showHypothesis'}} type="button" class="btn btn-default btn-small">Show Hypothesis Fancy</button>
    <button {{action 'hideHypothesis'}} type="button" class="btn btn-default btn-small">Hide Hypothesis Fancy</button>

    <p>MEOW MEOW MEOW MEOW</p>
    <div id='mfrIframe'>
        <iframe src={{mfrUrl}} width={{width}} height={{height}} scrolling="yes" marginheight="0" frameborder="0" allowfullscreen={{allowfullscreen}}>
        </iframe>
    </div>
{{/if}}
